#code {
    font-family: "SF Mono",Monaco,Menlo,Courier,monospace;
}

.highlight-comment {
    color: rgb(32, 210, 32);
}

.highlight-kw {
    color: rgb(110, 10, 186);
}

.highlight-number {
    color: rgb(40, 129, 40)
}